[Unit]
Description=Massnmap
Wants=network-online.target
After=network.target network-online.target

[Service]
User=massnmap
Group=massnmap
SyslogIdentifier=massnmap
Environment=NMAP_PRIVILEGED=""
ExecStart=/home/massnmap/massnmap/run.py --config /home/massnmap/scan.cfg
Restart=no

[Install]
WantedBy=multi-user.target
