{
  "root_zones": [
    "local",
    "local2"
  ],
  "result_dir":"/home/massnmap/massnmap/results",
  "blacklisted_zones":[
    "sub1.local",
    "sub2.local"
  ],
  "blacklisted_ips":[
    "10.0.0.1",
    "10.0.0.2"
  ],
  "blacklisted_ranges":[
    "10.10.10.0/24",
    "10.10.20.0/24"
  ],
  "blacklisted_ports":[
    "1011",
    "1012"
  ],
  "mail": {
    "from": "noreply@x.com",
    "to": ["a@a.com", "b@b.com"],
    "server": "",
    "port": 465,
    "username": "",
    "password": "",
    "tlsmode": "on|off|starttls"
  },
  "massscan_rate": "100000", 
  "dns_server":"localhost",
  "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36",
  "post_scan_scripts": [
    "echo 1",
    "echo 2"
  ]
}
